*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    ::selection{
        background: #e1e1e6;
    }

    *, input, button, a{
        font-family: 'Ubuntu', sans-serif;
    }
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../../img/backimage.png");
    overflow: hidden;
    user-select: none;
    scroll-snap-align: start;
}


.content--shadow--top{
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 90%,rgba(0,0,0,.8) 100%);
    z-index: 1;
}


.content--shadow--bottom{
    position: absolute;
  
    width: inherit;
    height: inherit;
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 90%,rgba(0,0,0,.8) 100%);
}

.center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    left: 0;
    z-index: -1;
}

