.containerThree{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(113deg, #0a1312 0%, #0a1817 37%, #0a1312 62%);
    box-shadow: inset 4px 20px 57px 60px rgba(0,0,0,0.75);
   
    
}